  <header>
        <nav class="menu">
            <ul>
                <li><a href="{% url 'index' %}">Главная</a></li>
                <li><a href="{% url 'all_product' %}">Хэштеги</a></li>
                <li><a href="{% url 'book_list' %}">Книги</a></li>
                <li><a href="{% url 'rezka_list' %}">Другие книги</a></li>
                <li><a href="{% url 'parser_form' %}">Парсинг</a></li>
                <li><a href="users/register.html">Регистрация</a></li>
                <li><a href="users/login.html">Войти</a></li>
                <!-- Форма поиска -->
                <li class="search">

                    <form action="{% url 'search' %}" method="GET">
                        <input type="text" type="search" name="q" placeholder="Поиск...">
                        <button type="submit">Поиск</button>
                    </form>

                </li>
            </ul>
        </nav>
    </header>