
<!-- Карточка пользователей-->
<div class="w-full max-w-2xl bg-gray-800 p-6 rounded-2xl shadow-xl text-white mx-auto mt-10">
    <h1 class="text-2xl font-bold text-center mb-4">Список пользователей</h1>
    <ul class="space-y-4">
        <!-- Цикл тут -->
         {% for i in user %}
        <li class="p-4 bg-gray-700 rounded-lg shadow">
            <p><strong>Фамилия:</strong>{{ i.first_name }}</p>
            <p><strong>Имя:</strong>{{ i.last_name }}</p>
            <p><strong>Возраст:</strong>{{ i.age }}</p>
            <p><strong>Пол:</strong>{{ i.gender }}</p>
            <p><strong>Почта:</strong>{{ i.email }}</p>
            <p><strong>Телефон:</strong>{{ i.phone_number }}</p>
            {% if i.club %}
            <p><strong>Образовательный клуб:</strong>{{ i.club }}</p>
            {% endif %}
        </li>
        {% endfor %}
        
    </ul>
</div>

<form action="{% url 'users:login' %}" method="POST">
    {% csrf_token %}
    <button type="submit">Выйти из аккаунта</button>
</form>

<!-- Футер -->

